@model KCM.ServiciosInternet.Site.Entity.Formularios.ContactModelKleenexMascarillas
@using KCM.ServiciosInternet.Site.Entity.Config
@{
    Layout = null;
}

<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/all.css">
    <link type="text/css" rel="stylesheet" href="~/css/estilos.css">

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NVS2XTM');</script>
<!-- End Google Tag Manager -->

    <title>Kleenex® Mascarillas / Preguntas Frecuentes</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVS2XTM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid" id="logo">
      <a class="navbar-brand" href="/home/index">
        <img src="~/images/km_logo.webp" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse support" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/index">Kleenex® Mascarillas</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="/home/index#icons">Características</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/home/index#presentaciones">Presentaciones</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/home/index#especial">Ediciones Especiales</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/home/index#reseñas">Reseñas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/Preguntasfrecuentes/index">Preguntas Frecuentes</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

    <section class="container text-center" id="fqs">
        <div class="row">
            <div class="col-12" id="fqshead">
                <h1>PREGUNTAS FRECUENTES</h1>
                <P>
                    Consulta las dudas más comunes acerca de Kleenex® Mascarillas.
                    Ponte en contacto con nosotros si tienes alguna otra pregunta.
                </P>
            </div>
            <div class="col-sm-12 col-md-6" id="question">
                <h3>¿Puedo reutilizar las mascarillas Kleenex®?</h3>
                <p>
                    Kleenex® Mascarillas son mascarillas, cubrebocas o respiradores de media cara de un solo
                    uso, es decir, desechables. Se recomienda el uso por no más de 6 horas continuas para asegurar
                    la eficacia del producto.
                </p>
            </div>
            <div class="col-sm-12 col-md-6" id="questiondos">
                <h3>¿De qué están hechas Kleenex® Mascarillas?</h3>
                <p>
                    Están constituidas por tres capas de protección hechas de polipropileno al 100%: Capa Interna
                    suave al contacto con la piel, capa intermedia de filtración, capa externa con elásticos suaves
                    para un uso confortable y puente nasal moldeable adaptable a la forma de la nariz para un
                    mejor ajuste.
                </p>
            </div>
            <div class="col-sm-12 col-md-6" id="question">
                <h3>¿Qué tipo de partículas filtran Kleenex® Mascarillas?</h3>
                <p>
                    Kleenex® Mascarillas filtran las partículas nocivas presentes en el ambiente a través de elementos
                    filtrantes purificadores.
                </p>
                <p>
                    Han sido probadas y evaluadas por distintas entidades e instituciones nacionales e internacionales
                    con el fin de determinar la eficiencia de filtración y la seguridad de sus materiales. Resultando
                    en un 98.28% de eficiencia de filtración de bacterias* y un 98.74% de eficiencia de filtración
                    de virus*.
                </p>
            </div>
            <div class="col-sm-12 col-md-6" id="questiondos">
                <h3>¿Por qué son dermatológicamente probadas?</h3>
                <p>
                    Kleenex® Mascarillas cuentan con la certificación Original Dermatest, la cual avala el uso dermatológicamente
                    probado de las mascarillas al contacto con la piel. Su suavidad interna te
                    brinda un uso continuo cómodo y ergonómico.
                </p>
            </div>

            <div class="col-12 infofqs">
                <p>
                    *Estudio elaborado por Nelson Labs (25Sep2020) Prueba realizada para medir la eficacia de los materiales de la mascarilla para prevenir el paso de bacterias en aerosol. El
                    tamaño de la partícula del aerosol bacteriano será de 3.0 +/- 0.3 micrones.
                </p>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="registro">
        <div class="row">
            <div class="col-12 text-center reghead">
                <h2>CONTÁCTANOS</h2>
                <p>Queremos conocerte, envíanos un mensaje con tus preguntas y comentarios.</p>
            </div>
            <div class="col-sm-12 col-md-6" id="form">
                <h3>Llena el formulario con tus datos de contacto.</h3>
                <!-- Inicia Formulario Contacto -->

                @using (Ajax.BeginForm("validaContacto", "Home", null, new AjaxOptions
                {
                    HttpMethod = "Post",
                    OnFailure = "msgAlertError",
                    OnSuccess = "envioCompletado"
                    
                    
                }, new { autocomplete = "off", @class = "row" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-sm-12">
                        @Html.LabelFor(model => model.Name)
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", aria_describedby = "nameHelp" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { style = "color:red" })
                    </div>
                    <div class="col-md-6 mt-2">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", aria_describedby = "emailHelp" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { style = "color:red" })
                    </div>
                    <div class="col-md-6 mt-2">
                        @Html.LabelFor(model => model.Phone)
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { style = "color:red" })
                    </div>
                    <div class="col-sm-12 mt-2">
                        @Html.LabelFor(model => model.Message)
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = "1" })
                        @Html.ValidationMessageFor(model => model.Message, "", new { style = "color:red" })
                    </div>
                    <div class="form-check mt-3">
                        @Html.CheckBoxFor(model => model.Terms, new { htmlAttributes = new { @class = "form-check-label", rows = "1" } })
                        @Html.LabelFor(model => model.Terms)
                        @Html.ValidationMessageFor(model => model.Terms, "", new { style = "color:red" })
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(model => model.recaptchaResponse)
                    </div>
                    <div class="form-group">
                        <div id="contactEmailRecaptcha"></div>
                    </div>
                    <div class="col-12 mt-3 formbtn">
                        <button type="submit" class="btn" id="btnoption">Enviar</button>
                    </div>
                }

                <div class="phonekcc">
                    <p>Puedes llamarnos desde el Valle de México al 55-5282-7283 <br>

                      Del interior de la República al 800-8373-656 <br>
                      
                      o escríbenos a kcm.kleenex@kcc.com</p>
                  </div>
            </div>

            <div class="col-sm-12 col-md-6 fqsimage">
                <img src="~/images/fqs_prod.webp" alt="">
            </div>
        </div>
    </section>
    <footer id="contacto">
      <div class="row align-items-center">

        <div class="col-12 enlaces">
          <div class="row">
            <div class="col-4">
              <a href="/home/index">inicio</a>
            </div>
            <div class="col-4">
              <a href="/aviso/index" >Aviso de Privacidad</a>
            </div>
            <div class="col-4">
              <a href="#" >Escríbenos</a>
            </div>
            <div class="col-12 phone"><p>Llámanos CDMX 55-52-82-73-83   I   Int. República 800-46-56-839 </p></div>
          </div>
        </div>

        <div id="privacidad" class="col-sm-12">
          <h4>©2021 Kimberly-Clark de México S.A.B. de C.V.</h4>
          <p>Todos los nombres, logotipos y marcas registradas son propiedad Kimberly-Clark WorldWide Inc., o sus subsidiarias o afiliadas. © Derechos reservados KCWW 2021</p>
          <p>Tu visita a este sitio y tu subsecuente uso de la información contenida en él están sujetos a los términos de nuestra Declaración Legal. Por favor revisa Nuestra Política de privacidad.</p>
        </div>

      </div>
    </footer>


    <div class="modal fade" tabindex="-1" id="exampleModalLong">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="display: flex;align-items: flex-end;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type='text/javascript' src="~/js/jquery-3.6.0.min.js"></script>
    <script defer type='text/javascript' src="~/js/bootstrap.min.js"></script>
    <script defer type='text/javascript' src="~/js/fontawesome.min.js"></script>
    <script defer type='text/javascript' src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script defer type='text/javascript' src="~/js/jquery.validate.min.js"></script>
    <script defer type='text/javascript' src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script defer type='text/javascript' src="~/js/xss.min.js"></script>


    <script>
        let objgrecaptchaContacto = null;   // objeto para generar el recaptcha dinámicamente mediante script

        /**
        * @@description genera el recaptcha y se ejecuta en automático en el momento de cargar dinámicamente
        *               la librería de Google https://www.google.com/recaptcha/api.js?onload=onloadGenerateRecaptcha&render=explicit
        * @@summary genera el recaptcha y almacena el objeto en objgrecaptchaContacto
        */
        function onloadGenerateRecaptcha() {
            objgrecaptchaContacto = grecaptcha.render('contactEmailRecaptcha', {
                'sitekey': '@Global.strRecaptchaSiteKey'
            });
        }

        /**
        * @@description Si la petición ajax no se produce muestra el error
        * @@ param {Object} obj respuesta del servidor
        */
        function msgAlertError(obj) {
            showMessageModal(obj.responseText);
        }
        /**
        * @@description muestra el mensaje de alert en el envío de información de contacto
        * @@param  {String} msg mensaje a mostrar en el alert
        */
        function showMessageModal(msg) {
            $("#exampleModalLong h5#exampleModalLongTitle").html("Envio de información de contacto");
            $("#exampleModalLong div.modal-body").html(msg);
            $("#exampleModalLong").modal("show");
        }

        /**
        * @@description Asigna la validación del recaptcha en el evento de submit
        */
        function asignaSubmitEvent() {
            let objFormularioContacto = $("#form form");

            objFormularioContacto.submit(function (evt) {
                if (objFormularioContacto.valid()) {
                    if ($("#form form #Terms").get(0).checked) {

                        let objRecaptchaResponse = grecaptcha.getResponse(objgrecaptchaContacto);
                        if (objRecaptchaResponse.length > 0) {
                            $("#recaptchaResponse").val(objRecaptchaResponse);
                            $(objFormularioContacto).find("input:not([type='hidden'], [type='checkbox']), textarea:not(.g-recaptcha-response)").each(function () {
                                let strValor = $(this).val();
                                strValor = filterXSS(strValor);
                                $(this).val(strValor);
                            });
                        }
                        else {
                            showMessageModal("<span style='font-size:26px;margin-right:10px'>&#x26A0;</span>  Por favor presione el recaptcha antes de continuar");
                            return false;
                        }
                    }
                    else {
                        showMessageModal("<span style='font-size:26px;margin-right:10px'>&#x26A0;</span>  Por favor acepte terminos y condiciones");
                        return false;
                    }
                }
            });
        }

        function envioCompletado() {
            showMessageModal("<span style='font-size: 19px;color: white;margin-right: 10px;border-radius: 50%;width: 30px;text-align: center;background: green;height: 30px;'>&#10003;</span>  Mensaje enviado exitosamente");
            $("#form form").trigger('reset');
            grecaptcha.reset(objgrecaptchaContacto);
        }

            $(function () {
                asignaSubmitEvent()
            });
    </script>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadGenerateRecaptcha&render=explicit"></script>
</body>
</html>
